.game-container {
  box-sizing: border-box;
  height: 90lvh;
  width: 90lvw;
  margin: 2.5lvw auto;
  display: flex;
  /* height: 100%;
  width: 100%;
  margin: 0; */
}

#gameCanvas {
  margin: auto;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

}
